*{
    background-color: white;
}
/*header*/

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.nav-lista{
    list-style: none;
}

.nav-lista li{
    display: inline-block;
    padding: 0 20px;
}

.nav-lista li:hover{
    transform: scale(1.1);
}

.nav-lista a{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #331B3B;
}

.nav-lista a:hover{
    color: red;
}

.container-nav h1{
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #331B3B;
}

.container-nav button{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*body*/

.container-inicio{
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(3, 1fr);
    height: 85px;
    padding: 5px 10%;
}

.container-inicio h1{
    width: 500px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 99.8%;
    grid-column: 1;
    grid-row: 1;
}

.container-inicio p{
    grid-column: 1;
    grid-row: 2;
}

.container-inicio a{
    grid-column: 1;
    grid-row: 3;
}

.container-inicio img{
    grid-column: 2;
    grid-row: 1/4;
}

.container-inicio button{
    text-align: center;
    width: 207px;
    height: 66px;
    left: 50px;
    top: 634px;
    border: none;
    border-radius: 20px;
    background: #331B3B;
    color: white;
    font-size: 17px;
    grid-row: 3;
    grid-column: 1;
}

.container-inicio button:hover{
    cursor: pointer;
}

/* cards */

.titulo-servicio{
    left: 529px;
    padding-top: 550px;
    text-align: center;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 106.3%;
    color: #331B3B;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 85px;
    padding-top: 5px;
    padding-bottom: 50px;
}

.cards{
    width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
}

.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-img img{
    width: 52px;
    height: 48px;
    border-radius: 10px 10px 0px 0px;
}

.card-body h2{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 137.3%;
}

.card-body p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nosotros */
.container-nosotros{
    display: grid;
    grid-template-rows: 1fr 1fr 50px; 
    grid-template-columns: repeat(2, 1fr);
    padding: 200px 10%;
}

.container-nosotros img{
    grid-column: 1;
    grid-row: 1/4;
}

.container-nosotros h2{
    color: #331B3B;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 106.3%;
    grid-column: 2;
    grid-row: 1;
}

.container-nosotros p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    grid-column: 2;
    grid-row: 2;
}

.container-nosotros button{
    text-align: center;
    width: 207px;
    height: 66px;
    left: 50px;
    top: 634px;
    border: none;
    border-radius: 20px;
    background: #331B3B;
    color: white;
    font-size: 17px;
    grid-column: 2;
    grid-row: 3;
}

.container-nosotros button:hover{
    cursor: pointer;
}

/* trabajos realizaods */

.container-trabajos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    padding: 5px 10%;
}

.container-trabajos h2{
    width: 434px;
    height: 102px;
    left: 50px;
    top: 2367px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.3%;
    color: #331B3B;
    grid-column: 1;
}
.container-trabajos p{
    width: 515px;
    height: 82px;
    left: 835px;
    top: 2378px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    color: #331B3B;
    grid-column: 2;
    
}

/* cards trabajosb */

.card-img-job img{
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}


/* comentarios */


/* footer */
footer{
    margin-top: 5px;
    padding-top: 180px;
    
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.texto-footer{
    background-color: black;
    grid-column: 1;
    padding: 0 10%;
}

.texto-footer h2{
    background: black;
    color: white;
}

.texto-footer p{
    background: black;
    color: white;
}

.texto-footer a{
    background: black;
    color: white;
    text-decoration: none;
}

.formulario-footer{
    background: black;
    grid-column: 2;
}

.formulario-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}

.footer-name input #nombre{
    grid-column: 1;
    grid-row: 1;
}

.footer-email input #email{
    width: 100px;
    grid-column: 1;
    grid-row: 2;
}

.footer-phone input #telefono{
    grid-row: 2;
    grid-column: 1;
}

.footer-pais input #pais{
    grid-column: 2;
    grid-row: 2;
}







